<a href="https://colab.research.google.com/github/SangHee33/SangHee1/blob/main/2%EC%A3%BC%EC%B0%A8%20%ED%95%84%EC%82%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 판다스

In [24]:
import pandas as pd

* read_csv() : CSV(칼럼을 ','로 구분한 파일 포맷) 파일 포맷 변환을 위한 API, sep에 해당 구분 문자를 쓰면 어떤 필드 구분 문자 기반의 파일 포맷도 DataFrame으로 변환이 가능
* read_table() : 필드 구분 문자가 탭('\t')
* Fixed_fwf() = 고정 길이 기반의 칼럼 포맷을 DataFrame으로 로딩하기 위한 API
* DataFrame.head() : DataFrame의 맨 앞에 있는 N개의 로우를 반환

In [25]:
titanic_df = pd.read_csv(r'C:\Users\chwon\Data_Handling\titanic_train.csv')
titanic_df.head(3)

FileNotFoundError: ignored

In [ ]:
titanic_df = pd.read_csv('titanic_train.csv')
print('titanic 변수 type:', type(titanic_df))
titanic_df

In [ ]:
print('DataFrame 크기:', titanic_df.shape)

* info() : 총 데이터 건수와 데이터 타입, Null 건수를 알 수 있다.
* describe() : 칼럼별 숫자형 데이터값의 n-percentile 분포도, 평균값, 최댓값, 최솟값을 나타낸다.
* value_counts() : 지정된 칼럼의 데이터값 건수를 반환

In [ ]:
titanic_df.info()
titanic_df.describe()
value_counts = titanic_df['Pclass'].value_counts()
print(value_counts)
titanic_pclass = titanic_df['Pclass']
print(type(titanic_pclass))
titanic_pclass.head()
value_counts = titanic_df['Pclass'].value_counts()
print(type(value_counts))
print(value_counts)

# 넘파이 ndarray, 리스트, 딕셔너리를 DataFrame으로 변환하기

In [3]:
import numpy as np

col_name1=['col1']
list1 = [1,2,3]
array1 = np.array(list1)
print('array1 shape:', array1.shape)
#리스트를 이용해 DataFrame 생성
df_list1 = pd.DataFrame(list1,columns=col_name1)
print('1차원 리스트로 만든 DataFrame:\n',df_list1)
#넘파이 ndarray를 이용해 DataFrame 생성
df_array1 = pd.DataFrame(array1,columns=col_name1)
print('1차원 ndarray로 만든 DataFrame:\n', df_array1)

array1 shape: (3,)
1차원 리스트로 만든 DataFrame:
    col1
0     1
1     2
2     3
1차원 ndarray로 만든 DataFrame:
    col1
0     1
1     2
2     3

In [5]:
#3개의 칼럼명이 필요함.
col_name2=['col1','col2','col3']

#2행x3열 형태의 리스트와 ndarray 생성한 뒤 이를 DataFrame으로 변환
list2 = [[1,2,3],
         [11,12,13]]
array2 = np.array(list2)
print('array2 shape:',array2.shape)
df_list2 = pd.DataFrame(list2, columns = col_name2)
print('2차원 리스트로 만든 DataFrame:\n',df_list2)
df_array2 = pd.DataFrame(array2, columns=col_name2)
print('2차원 ndarray로 만든 DataFrame:\n',df_array2)

array2 shape: (2, 3)
2차원 리스트로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    12    13
2차원 ndarray로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    12    13

* Key 값은 칼럼명, 각 Value는 칼럼 데이터로 매핑된다.

In [6]:
dict = {'col1':[1,11],'col2':[2,22],'col3':[3,33]}
df_dict = pd.DataFrame(dict)
print('딕셔너리로 만든 DataFrame:\n',df_dict)

딕셔너리로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    22    33

# DataFrame을 넘파이 ndarray, 리스트, 딕셔너리로 변환하기

In [8]:
# DataFrame을 ndarray로 변환
array3 = df_dict.values
print('df_dict.values 타입:',type(array3),'df_dict.values shape:', array3.shape)
print(array3)
# DataFrame을 리스트로 변환
list3 = df_dict.values.tolist()
print('df_dict.values.tolist() 타입:',type(list3))
print(list3)
# DataFrame을 딕셔너리로 변환
dict3 = df_dict.to_dict('list')
print('\n df_dict.to_dict() 타입:',type(dict3))
print(dict3)

df_dict.values 타입: <class 'numpy.ndarray'> df_dict.values shape: (2, 3)
[[ 1  2  3]
 [11 22 33]]
df_dict.values.tolist() 타입: <class 'list'>
[[1, 2, 3], [11, 22, 33]]

 df_dict.to_dict() 타입: <class 'dict'>
{'col1': [1, 11], 'col2': [2, 22], 'col3': [3, 33]}

In [9]:
titanic_df['Age_0']=0
titanic_df.head(3)
titanic_df['Age_by_10'] = titanic_df['Age']*10
titanic_df['Family_No'] = titanic_df['Sibsp'] + titanic_df['Parch']+1
titanic_df.head(3)

NameError: ignored

In [ ]:
titanic_df['Age_by_10']=titanic_df['Age_by_10']+100
titanic_df.head(3)

# DataFrame 데이터 삭제

* drop() 메서드 원형
DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')
axis 값에 따라서 특정 칼럼 또는 특정 행을 드롭 (axis 0은 로우 방향 축, axis 1은 칼럼 방향 축)

In [10]:
titanic_drop_df = titanic_df.drop('Age_0',axis=1)
titanic_drop_df.head(3)
titanic_df.head(3)

NameError: ignored

In [ ]:
drop_result = titanic_df.drop(['Age_0','Age_by_10','Family_No'],axis=1,inplace=True)
print('inplace=True로 drop 후 반환된 값:',drop_result)
titanic_df.head(3)

In [ ]:
pd.set_option('display.width',1000)
pd.set_option('display.max_colwidth',15)
print('### before axis 0 drop ###')
print(titanic_df.head(3))
titanic_df.drop([0,1,2],axis=0,inplace=True)
print('### after axis 0 drop ###')
print(titanic_df.head(3))

* axis : DataFrame의 로우를 삭제할 때는 axis=0, 칼럼을 삭제할 때는 axis=1으로 설정
* 원본 DataFrame은 유지하고 드롭된 DataFrame을 새롭게 객체 변수로 받고 싶다면 inplace=False로 설정(디폴트 값이 False임)
* 원본 DataFrame에 드롭된 결과를 적용할 경우에는 inplace=True를 적용
* 원본 DataFrame에서 드롭된 DataFrame을 다시 원본 DataFrame 객체 변수로 할당하면 원본 DataFrame에서 드롭된 결과를 적용할 경우와 같음(단, 기존 원본 DataFrame 객체 변수는 메모리에서 추후 제거됨)

# Index 객체

In [ ]:
# 원본 파일 다시 로딩
titanic_df = pd.read_csv('titanic_train.csv')
# Index 객체 추출
indexes = titanic_df.index
print(indexes)
# Index 객체를 실제 값 array로 변환
print('Index 객체 array값:\n', indexes.values)

In [ ]:
print(type(indexes.values))
print(indexes.values.shape)
print(indexes[:5].values)
print(indexes.values[:5])
print(indexes[6])
indexes[0] = 5

In [ ]:
series_fair = titanic_df['Fare']
print('Fair Series max 값:', series_fair.max())
print('Fair Series sum 값:', series_fair.sum())
print('sum() Fair Series:', sum(series_fair))
print('Fair Series + 3:\n', (series_fair +3).head(3))

In [ ]:
titanic_reset_df = titanic_df.reset_index(inplace=False)
titanic_reset_df.head(3)

In [ ]:
print('### before reset_index ###')
value_counts = titanic_df['Pclass'].value_counts()
print(value_counts)
print('value_counts 객체 변수 타입:', type(value_counts))
new_value_counts = value_counts.reset_index(inplace=False)
print('### After reseet_index ###')
print(new_value_counts)
print('new_value_counts 객체 변수 타입:', type(new_value_counts))

# 데이터 셀렉션 및 필터링

In [ ]:
print('단일 칼럼 데이터 추출:\n',titanic_df['Pclass'].head(3))
print('\n여러 칼럼의 데이터 추출:\n', titanic_df[['Survived','Pclass']].head(3))
print('[] 안에 숫자 index는 KeyError 오류 발생:\n', titanic_df[0])

In [ ]:
titanic_df[0:2]
titanic_df[titanic_df['Pclass']==3].head(3)

* DataFrame 바로 뒤의 [] 연산자는 넘파이의 []나 Series의 []와 다르다.
* DataFrame 바로 뒤의 [] 내 입력 값은 칼럼명(또는 칼럼의 리스트)을 지정해 칼럼 지정 연산에 사용하거나 불린 인덱스 용도로만 사용해야 한다.
* DataFrame[0:2]와 같은 슬라이싱 연산으로 데이터를 추출하는 방법은 사용하지 않는 게 좋다.

In [ ]:
print('칼럼 위치 기반 인덱싱 데이터 추출:', titanic_df.ix[0,2])
print('칼럼 명 기반 인덱싱 데이터 추출:', titanic_df.ix[0,'Pclass'])

In [13]:
data = {'Name':['Chulmin','Eunkyung','Jinwoong','Soobeom'],
        'Year':[2011,2016,2015,2015],
        'Gender':['Male','Female','Male','Male']}
data_df = pd.DataFrame(data,index=['one','two','three','four'])
data_df

           Name  Year  Gender
one     Chulmin  2011    Male
two    Eunkyung  2016  Female
three  Jinwoong  2015    Male
four    Soobeom  2015    Male

* data_df.ix[0,0] : 첫 번째 로우, 첫 번째 칼럼 위치에 있는 단일 값 반환, 반환 값='Chulmin'
* data_df.ix['one', 0] : 인덱스 'one'에 해당하는 로우, 첫 번째 칼럼 위치의 단일 값 반환, 반환 값:'Chulmin'
* data_df.ix[:] : 전체 DataFrame 반환
* data_df.ix[data_df.Year >= 2014] : Year 칼럼 값이 2014보다 크거나 같은 로우 인덱스를 가지는 DataFrame 반환

In [ ]:
# data_df를 reset_index()로 새로운 숫자형 인덱스를 생성
data_df_reset = data_df.reset_index()
data_df_reset = data_df_reset.rename(columns={'index':'old_index'})

# 인덱스값에 1을 더해서 1부터 시작하는 새로운 인덱스값 생성
data_df_reset.index = data_df_reset.index+1
data_df_reset

In [ ]:
data_df_reset.ix[1,1]

* iloc[]에 위치 인덱싱이 아닌 명칭을 입력하면 오류 발생, 문자열 인덱스를 행 위치에 입력해도 오류가 발생한다.

In [ ]:
data_df.iloc[0,0]
data_df.iloc[0,'Name']
data_df.iloc['one',0]
data_df_reset.iloc[0,1]

* loc[]는 명칭 기반으로 데이터를 추출
행 위치에는 DataFrame index 값을, 열 위치에는 칼럼 명을 입력

In [ ]:
data_df.loc['one','Name']
data_df_reset.loc[1,'Name']
data_df_reset.loc[0,'Name']
print('명칭 기반 ix slicing\n',data_df.ix['one':'two','Name'],'\n')
print('위치 기반 iloc slicing\n',data_df.iloc[0:1,0],'\n')
print('명칭 기반 loc slicing\n',data_df.loc['one':'two','Name'])
print(data_df_reset.loc[1:2,'Name'])
print(data_df_ix[1:2,'Name'])

# 불린 인덱싱

In [ ]:
titanic_df = pd.read_csv('titanic_train.csv')
titanic_boolean = titanic_df[titanic_df['Age']>60]
print(type(titanic_boolean))
titanic_boolean

In [ ]:
titanic_df[titanic_df['Age']>60][['Name','Age']].head(3)
titanic_df.loc[titanic_df['Age']>60,['Name','Age']].head(3)
titanic_df[(titanic_df['Age']>60)&(titanic_df['Pclass']==1)&(titanic_df['Sex']=='female')]

In [ ]:
cond1 = titanic_df['Age']>60
cond2 = titanic_df['Pclass']==1
cond3 = titanic_df['Sex']=='female'
titanic_df[cond1&cond2&cond3]

# 정렬, Aggregation 함수, GroupBy 적용

In [ ]:
titanic_sorted = titanic_df.sort_values(by=['Name'])
titanic_sorted.head(3)
titanic_sorted = titanic_df.sort_values(by=['Pclass','Name'],ascending=False)
titanic_sorted.head(3)

In [ ]:
titanic_df.count()
titanic_df[['Age','Fare']].mean()

In [ ]:
titanic_groupby = titanic_df.groupby(by='Pclass')
print(type(titanic_goupby))

In [ ]:
titanic_groupby = titanic_df.groupby('Pclass').count()
titanic_groupby

In [ ]:
titanic_groupby = titanic_df.goupby('Pclass')[['PassengerId','Survived']].count()
titanic_groupby

In [ ]:
titanic_df.goupby('Pclass')['Age'].agg([max,min])

In [ ]:
agg_format = {'Age':'max','Sibsp':'sum', 'Fare':'mean'}
titanic_df.goupby('Pclass').agg(agg_format)

# 결손 데이터 처리하기

In [ ]:
titanic_df.isna().head(3)

In [ ]:
titanic_df.isna().sum()

In [ ]:
titanic_df['Cabin'] = titanic_df['Cabin'].fillna('C000')
titanic_df.head(3)

In [ ]:
titanic_df['Age'] = titanic_df['Age'].fillna(titanic_df['Age'].mean())
titanic_df['Embarked'] = titanic_df['Emabarked'].fillna('S')
titanic_df.isna().sum()

# apply lambda 식으로 데이터 가공

In [14]:
def get_square(a):
  return a**2

print('3의 제곱은:',get_square(3))

3의 제곱은: 9

In [15]:
lambda_square = lambda x : x**2
print('3의 제곱은:', lambda_square(3))

3의 제곱은: 9

In [16]:
a = [1,2,3]
squares = map(lambda x : x**2, a)
list(squares)

[1, 4, 9]

In [ ]:
titanic_df['Name_len']=titanic_df['Name'].apply(lambda x : len(x))
titanic_df[['Name','Name_len']].head(3)

In [22]:
titanic_df['Child_Adult']=titanic_df['Age'].apply(lambda x : 'Child' if x <= 15 else 'Adult')
titanic_df[['Age','Child_Adult']].head(8)

NameError: ignored

In [ ]:
titanic_df['Age_cat']=titanic_df['Age'].apply(lambda x : 'Child' if x<=15 else ('Adult' if x <=60 else 'Elderly'))
titanic_df['Age_cat'].value_counts()

In [21]:
# 나이에 따라 세분화된 분류를 수행하는 함수 생성
def get_category(age) : 
  cat = ''
  if age <= 5 : cat = 'Baby'
  elif age<=12 : cat = 'Child'
  elif age <= 18 : cat = 'Teenager'
  elif age <=25 : cat = 'Student'
  elif age <=35 : cat = 'Young Adult'
  elif age <= 60 : cat = 'Adult'
  else : cat = 'Elderly'

  return cat

# lambda 식에 위에서 생성한 get_category() 함수를 반환값으로 지정
# get_category(X)는 입력값으로 'Age' 칼럼 값을 받아서 해당하는 cat 반환
titanic_df['Age_cat'] = titanic_df['Age'].apply(lambda x : get_category(x))
titanic_df[['Age','Age_cat']].head()

NameError: ignored